@import "variables";
@import "general";

/*
 *	MAIN CONTENT
 ------------------------------------------------------ */
/* Header */
header {
  height: 85vh;
  background: url("/assets/images/mobile/image-header.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

.nav-list {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: $color-white;
  position: absolute;
  top: 6em;
  right: 10%;
  padding: 1.5em 0;
  width: 80%;
  height: 19em;
  z-index: 1;
}

.nav-link-li {
  margin: 2em 0;
}

.nav-link {
  color: $color-dark-grayish-blue;
}

.nav-link-li:nth-child(4) {
  margin-top: 3em;
}

.nav-link-contact {
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  color: $color-very-dark-desaturated-blue;
  font-family: $font-family-fraunces;
  background: $color-yellow;
  border-radius: 30px;
}

.pointer {
  display: unset;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: $color-white;
  right: 0;
  top: -25px;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.burger {
  cursor: pointer;
  transition: ease-in-out 0.1s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 2.1em;
  text-transform: uppercase;
  color: $color-white;
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  margin: 2.5em 0;
}

.arrow-down {
  transition: ease-in-out 0.1s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

/* Main */
/* Brand and Audience */
.brand-text-wrap,
.audience-text-wrap {
  padding: 3.5em 2em;
  text-align: center;
}

.brand-heading,
.audience-heading {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 0.8em;
}

.brand-text,
.audience-text {
  line-height: 1.6em;
  font-size: 0.94em;
}

.learn {
  display: block;
  margin-top: 1.8em;
  text-transform: uppercase;
  z-index: 2;

  &::before {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;

    bottom: -25px;

    width: 8.5625rem;
    height: 0.625rem;
    border-radius: 0.3125rem;

    opacity: 0.25;

    z-index: -2;
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    margin: 0 auto;

    bottom: 6px;

    width: 8.5625rem;
    height: 0.625rem;
    border-radius: 0.3125rem;

    z-index: -1;

    opacity: 0;
    transform: scaleX(0);
    transform-origin: right bottom;
    transition: 500ms;
    transition-property: opacity, transform;
  }

  &:hover::after {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left bottom;
  }
}

.learn-brand::before,
.learn-brand::after {
  background-color: $color-yellow;
}

.learn-audience::before,
.learn-audience::after {
  background-color: $color-soft-red;
}

/* Graphic design and Photography */
.graphic,
.photography {
  padding: 1.4em;
  text-align: center;
  line-height: 1.5em;
  aspect-ratio: 0.625;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.graphic {
  background: url("/assets/images/mobile/image-graphic-design.jpg") no-repeat;
  background-size: cover;
}

.photography {
  background: url("/assets/images/mobile/image-photography.jpg") no-repeat;
  background-size: cover;
}

.graphic-text-wrap,
.photography-text-wrap {
  margin-bottom: 1.5em;
}

.graphic-heading,
.photography-heading {
  font-size: 1.8em;
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 1em;
}

.graphic-p,
.photography-p {
  font-size: 0.86em;
}

.graphic-p,
.graphic-heading {
  color: $color-dark-desaturated-cyan-graphic-design-text;
}

.photography-p,
.photography-heading {
  color: $color-dark-blue-photography-text;
}

/* Testimonials */
.testimonials {
  text-align: center;
  padding: 1em 1em;
}

.testimonials-heading {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 5px;
  color: $color-grayish-blue;
  margin: 3.5em 0;
}

.testimonials-figure {
  margin-bottom: 4em;
}

.img-profile {
  border-radius: 50%;
  max-width: 70px;
}

.testimonials-figcaption {
  margin-top: 2.2em;
  line-height: 1.6em;
  font-size: 1.05em;
}

.name {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  margin-top: 1.7em;

  & span {
    font-family: $font-family-barlow;
    font-size: 0.85em;
    color: $color-grayish-blue;
  }
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/* Footer */
.footer {
  background: hsl(167, 65%, 80%);
  padding: 2em;
  text-align: center;
}

.footer-logo {
  margin-top: 1.5em;
  & path {
    fill: $color-dark-moderate-cyan-footer;
  }
}

.footer-list {
  display: flex;
  justify-content: space-between;
  margin: 2em 0 5em;
}

.footer-list-a {
  color: $color-dark-moderate-cyan-footer;
  transition: all ease-in-out 0.2s;

  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $color-white;
  }
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 2em;
}

.socials-list-a:hover,
.socials-list-a:focus {
  & svg path {
    fill: $color-white;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 665px) {
  header {
    background: url("/assets/images/desktop/image-header.jpg") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .burger,
  .pointer {
    display: none;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    background: none;
    position: static;
    padding: 0;
    width: fit-content;
    height: fit-content;
    gap: 2em;
  }

  .nav-link {
    color: $color-white;

    &:hover,
    &:focus {
      text-shadow: 1.5px 1px black;
    }
  }

  .nav-link-li {
    margin: 0;
  }

  .nav-link-li:nth-child(4) {
    margin-top: 0;
  }

  .nav-link-contact {
    padding: 0.8em 1.3em;
    background: $color-white;

    &:hover,
    &:focus {
      color: $color-white;
      background: opacify(rgb(120, 205, 255), $amount: 0.6);
    }
  }

  .services,
  .brand,
  .audience {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .brand > picture {
    grid-column: 2 / 3;
  }

  .brand-text-wrap {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .brand-text-wrap,
  .audience-text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    text-align: center;
  }

  .brand-heading,
  .audience-heading {
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 0.3em;
  }

  .brand-text,
  .audience-text {
    font-size: 0.9em;
  }

  .learn {
    margin-top: 0;
  }

  .graphic,
  .photography {
    display: block;
    padding-bottom: 0;
  }

  .graphic-text-wrap,
  .photography-text-wrap {
    margin: 120% 0 0;
  }

  .testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.3fr 1fr;
    column-gap: 2em;
  }

  .testimonials-heading {
    grid-column: 1 / 4;
  }

  .gallery {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
  }

  .footer-list {
    justify-content: center;
    gap: 3em;
  }
}

@media screen and (min-width: 900px) {
  .brand-text-wrap,
  .audience-text-wrap {
    padding: 2em 3em;
    align-items: flex-start;
    text-align: left;
  }

  .brand-heading,
  .audience-heading {
    font-size: 2em;
    margin-bottom: 0.8em;
  }

  .brand-text,
  .audience-text {
    line-height: 1.6em;
    font-size: 0.94em;
  }

  .learn {
    margin-top: 1.8em;
  }

  .graphic-p,
  .photography-p {
    margin: 0 3em;
  }
}

@media screen and (min-width: 1200px) {
  .brand-text-wrap,
  .audience-text-wrap {
    padding: 2em 16%;
  }

  .graphic,
  .photography {
    aspect-ratio: 0;
  }

  .graphic-text-wrap,
  .photography-text-wrap {
    margin: 95% 0 4em;
  }

  .graphic-p,
  .photography-p {
    margin: 0 8em;
  }
}

@media screen and (min-width: 1400px) {
  .brand-text-wrap,
  .audience-text-wrap {
    padding: 2em 20%;
  }

  .graphic-p,
  .photography-p {
    margin: 0 10em;
  }
}
