/*
 *	VARIABLES
 ------------------------------------------------------ */
/* Colors */
/* Typography */
/*
 *	GENERAL
 ------------------------------------------------------ */
/* border-box */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.125em;
  font-family: "Barlow", sans-serif;
  color: hsl(232deg, 10%, 55%);
}

h1,
h2,
h3,
h4,
.learn,
.name {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/*
 *	MAIN CONTENT
 ------------------------------------------------------ */
/* Header */
header {
  background: url(/assets/images/mobile/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
  padding: 2em 2em 0;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: hsl(0deg, 0%, 100%);
  position: absolute;
  top: 6em;
  right: 10%;
  padding: 1.5em 0;
  width: 80%;
  height: 19em;
}

.nav-link-li {
  margin: 1em 0;
}

.nav-link-li:nth-child(4) {
  margin-top: 1.3em;
}

.nav-link {
  color: hsl(232deg, 10%, 55%);
}

.nav-link-contact {
  padding: 0.8em 1.8em;
  text-transform: uppercase;
  color: hsl(212deg, 27%, 19%);
  font-family: "Fraunces", serif;
  background: hsl(51deg, 100%, 49%);
  border-radius: 30px;
}

.pointer {
  display: unset;
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: hsl(0deg, 0%, 100%);
  right: 0;
  top: -25px;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}

.burger {
  cursor: pointer;
  transition: ease-in-out 0.1s;
}
.burger:hover, .burger:focus {
  transform: scale(1.2);
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading {
  font-size: 2.1em;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  text-align: center;
  letter-spacing: 0.2em;
  font-weight: 900;
  margin: 2.5em 0;
}

.arrow-down {
  transition: ease-in-out 0.1s;
}
.arrow-down:hover, .arrow-down:focus {
  transform: scale(1.1);
}

/* Main */
/* Brand and Audience */
.brand-text-wrap,
.audience-text-wrap {
  padding: 3.5em 2em;
  text-align: center;
}

.brand-heading,
.audience-heading {
  font-size: 2em;
  font-weight: 900;
  margin-bottom: 0.8em;
}

.brand-text,
.audience-text {
  line-height: 1.6em;
  font-size: 0.94em;
}

.learn {
  display: block;
  margin-top: 1.8em;
  text-transform: uppercase;
  z-index: 2;
}
.learn::before {
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  bottom: -25px;
  width: 8.5625rem;
  height: 0.625rem;
  border-radius: 0.3125rem;
  opacity: 0.25;
  z-index: -2;
}
.learn::after {
  content: "";
  position: relative;
  display: block;
  margin: 0 auto;
  bottom: 6px;
  width: 8.5625rem;
  height: 0.625rem;
  border-radius: 0.3125rem;
  z-index: -1;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right bottom;
  transition: 500ms;
  transition-property: opacity, transform;
}
.learn:hover::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left bottom;
}

.learn-brand::before,
.learn-brand::after {
  background-color: hsl(7deg, 99%, 70%);
}

.learn-audience::before,
.learn-audience::after {
  background-color: hsl(51deg, 100%, 49%);
}

/* Graphic design and Photography */
.graphic,
.photography {
  padding: 1.4em;
  text-align: center;
  line-height: 1.5em;
  aspect-ratio: 0.625;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.graphic {
  background: url("/assets/images/mobile/image-graphic-design.jpg") no-repeat;
  background-size: cover;
}

.photography {
  background: url("/assets/images/mobile/image-photography.jpg") no-repeat;
  background-size: cover;
}

.graphic-text-wrap,
.photography-text-wrap {
  margin-bottom: 1.5em;
}

.graphic-heading,
.photography-heading {
  font-size: 1.8em;
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 1em;
}

.graphic-p,
.photography-p {
  font-size: 0.86em;
}

.graphic-p,
.graphic-heading {
  color: hsl(167deg, 40%, 24%);
}

.photography-p,
.photography-heading {
  color: hsl(198deg, 62%, 26%);
}

/* Testimonials */
.testimonials {
  text-align: center;
  padding: 1em 1em;
}

.testimonials-heading {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 5px;
  color: hsl(210deg, 4%, 67%);
  margin: 3.5em 0;
}

.testimonials-figure {
  margin-bottom: 4em;
}

.img-profile {
  border-radius: 50%;
  max-width: 70px;
}

.testimonials-figcaption {
  margin-top: 2.2em;
  line-height: 1.6em;
  font-size: 1.05em;
}

.name {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  margin-top: 1.7em;
}
.name span {
  font-family: "Barlow", sans-serif;
  font-size: 0.85em;
  color: hsl(210deg, 4%, 67%);
}

/* Gallery */
.gallery {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/* Footer */
.footer {
  background: hsl(167deg, 65%, 80%);
  padding: 2em;
  text-align: center;
}

.footer-logo {
  margin-top: 1.5em;
}
.footer-logo path {
  fill: hsl(168deg, 34%, 41%);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  margin: 2em 0 5em;
  transition: all ease-in-out 1s;
}
.footer-list li:hover, .footer-list li:focus {
  transform: scale(1.1);
}

.footer-list-a {
  color: hsl(168deg, 34%, 41%);
}

.socials-list {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-bottom: 2em;
  transition: ease-in-out 0.8s;
}
.socials-list li:hover, .socials-list li:focus {
  transform: scale(1.1);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=main.css.map */